<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>
<!--start: MENU -->
<%- include('menu') -%>
<!--end: MENU -->

<!-- start: content -->
<div class="container" style="margin-top: 60px ">
	<div class="row">
		<div class="col-md-push-12 col-md-10 col-xs-12 text-left">
			<h1 class="h3 mb-3 font-weight-normal">Profil</h1>
		</div>
		<div class="col-md-push-3 col-md-6 col-xs-12">
			<form>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" class="form-control" id="username" disabled>
					<div class="checkbox mb-10">
						<label>
							Admin <input type="checkbox" id="admin" disabled>
						</label>
					</div>
					<div class="checkbox mb-10">
						<label>
							Female <input type="checkbox" id="female" disabled>
						</label>
						<label>
							Male <input type="checkbox" id="male" disabled>
						</label>
					</div>
				</div>
				<div class="form-group">
					<a href="tasks.ejs" class="btn btn-primary">Save</a>
					<a href="tasks.ejs" class="btn btn-default btn-danger">Cancel</a>
			</form>
		</div>
	</div>
</div>
<!-- end: content -->
</body>
</html>