<!DOCTYPE html>
<html lang="en">
<%- include('header') -%>
<body>

<!--start: MENU -->
<%- include('menu') -%>
<!--end: MENU -->
<!-- start: content -->
<div class="container text-center" style="margin-top: 60px">
	<div class="row">
		<div class="col-md-push-6 col-md-12 col-xs-12">
			<h2>Task list</h2>
			<table class="table table-stripped">
				<thead>
				<tr>
					<th>User name</th>
					<th>Sex</th>
					<th>Admin</th>
					<th>Operations</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>Lorem user</td>
					<td>male</td>
					<td>no</td>
					<td class="text-right">
						<a href="user_tasks.ejs" class="btn btn-sm btn-primary">Tasks</a>
						<a href="profil.ejs" class="btn btn-sm btn-primary">Edit</a>
						<a href="#" class="btn btn-sm btn-danger">Delete</a>
					</td>
				</tr>
				<tr>
					<td>Ipsum user</td>
					<td>female</td>
					<td>yes</td>
					<td class="text-right">
						<a href="user_tasks.ejs" class="btn btn-sm btn-primary">Tasks</a>
						<a href="profil.ejs" class="btn btn-sm btn-primary">Edit</a>
						<a href="#" class="btn btn-sm btn-danger">Delete</a>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- end: content -->

<script src="js/bootstrap.js"></script>
</body>
</html>